<div class="col-md-4 col-sm-6 col-xs-12">
<div class="project-box">
  <img src="http://images.freeimages.com/images/previews/5b0/rubik-s-cube-1-1424892.jpg" alt="..." width="100%">
<div class="description-box">
  <div class="title">
  
  </div>
  <div class="description">
    This is a description
  </div>
  <div class="project-bar">
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100" style="width:100%">
        <span class="sr-only">100% Complete (Success)</span>
      </div>
    </div>
  </div>

  <div class="stats">
    <ul>
      <li>100% <br><span class="label">funded</span></li>
      <li>$1000 <br><span class="label">pledged</span></li></li>
      <li>10 <br><span class="label">days to go</span></li></li></li>
    </ul>
  </div>
</div>
</div>
</div>
