<div class="project-stats">
  <div class="row">
    <div class="col-xs-4 col-sm-12">
      <div class="val">
        10
      </div>
      <div class="lab">backers</div>
    </div>  
    <div class="col-xs-4 col-sm-12">
      <div class="val">
        1000$
      </div>
      <div class="lab">goal</div>
    </div>  
    <div class="col-xs-4 col-sm-12">
      <div class="val">
        10
      </div>
      <div class="lab">days to go</div>
    </div>  
  </div>
</div>
